html {
  font-family: url("https://fonts.google.com/specimen/Poppins");
  margin: 0px;
}

.wrapper {
  margin-top: 100px;
  border: red 1px solid;
  text-align: center;
}

body {
  font-size: 15px;
}

.Buttons {
  border: blue 1px solid;
}

#span1,
h5 {
  opacity: 50%;
}

#span1 {
  margin-bottom: -20px;
}
